body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.top-container {
    width: 550px;
    height: 285px;
    background-color: #6943FF;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
}

h1 {
    margin-bottom: 0;
    font-size: 28px;;
}

input {
    width: 117px;
    height: 83px;
    margin-top: 30px;
    margin-bottom: 25px;
    background-color: #6943FF;
    border: 1px solid #B295FF;
    border-radius: 5px;
    color: #FFFFFF; 
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

button {
    color: #3D3D3D;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 42px;
    font-size: 16px;
}

.bottom-container {
    width: 550px;
    margin: 0 auto;
    padding-top: 40px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
}

h2 {
    color: #353535;
    font-size: 20px;
    font-family: inherit;
    margin: 0;
}

.output-container {
    width: 500px;
    height: 110px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #E0E0E0;

}

p {
    font-size: 14px;
    color: #353535;
}



